/* Estilos para .App */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* Asegurar que ocupe toda la pantalla */
  width: 100%;
}

/* Estilos para NavBar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}


